body {
    background-color: #183A4a;
}


.btnMail{
    background-color: #3b86Ac;

}

.box-3{
    background-color: #5fd2a4;
}

.box-5{
    background-color: #f8d277;
}

.box-3-5{
    background-color: #de5470;
}