body {
    background-color: #183A4a;
}


.colorBtnMail{
    background-color: #3b86Ac;

}

.colorBtnDices, .colorWinner{
    background-color: #5fd2a4;
}

.colorPlayer1{
    background-color: #f8d277;
}

.colorPlayer2{
    background-color: #de5470;
}

.player{
    height: 120px;
    border: 1px solid white;
}